---
---
@import "normalize";


//custom variables
$serif: georgia,times,serif;
$sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
$type-base: 16px;
$line-height:1.6em;
$base-color: #b70246;

@mixin base-font{
	font-family: $sans;
	font-size: $type-base;
	line-height: $line-height;
}

body{
	background: #fff;
	@include base-font;
}

h1, h2, h3{
	font-family: $light;
	font-weight: normal;
}

h1{
	margin-bottom: 55px;
	font-size: 26px;
}

a{
	text-decoration: none;
	color: $base-color;
}

.content{
	margin: 5% auto;
	padding: 0 25px;
	max-width: 768px;
}



.page-content{

	h1{
		font-size: 26px;
	}
	h3{
		font-size: 22px;
		margin: 0px 0 15px 0;
	}

	ul{
		padding: 0;
		margin: 0 0 55px 0;
		li{
			list-style: none;
			margin: 8px 0;
			padding-bottom: 8px;
			line-height: 1.3em;
			border-bottom: 1px dotted fadeout(#000, 90%);
		}
	}
}

footer{
	font-size: 14px;
}



